[Unit]
Description=the ups guarder for acpupsd
Wants=network-online.target
After=network-online.target apcupsd.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/apcupsd_guarder  
#OnBootSec=1min
#Restart=always
User=root

[Install]
WantedBy=network-online.target
